/*importing google fonts - inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#EEEEFF, #C8C7FF);

}
.chatbot-popup {
    width: 420px;
    background: #fff;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.chat-header {
    display: flex;
    align-items: center;
    background: #5350c4;
    padding: 15px 22px;
    justify-content: space-between;
}
.chat-header .header-info {
    display: flex;
    gap: 10px;
    align-items: center;
}
.header-info .logo{
    height: 35px;
    width: 35px;
    padding: 6px;
    fill: #5350c4;
    flex-shrink: 0;
    background: #fff;
    border-radius: 10%
}
.header-info .logo-text {
    color: #fff;
    font-sze: 1.31rem;
    font-weight: 600;
}
.chat-header #close-chatbot {
    border: none;
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 1.9rem;
    margin-right: -10px;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 50%;
    background: none;
    transition: 0.2s ease;
}
.chat-header #close-chatbot:hover {
    background: #3d39ac;

}
.chat-body {
    padding: 25px 22px;
    display: flex;
    gap: 20px;
    height: 460px;
    margin-bottom: 82px;
    overflow-y: auto;
    flex-direction: column;
    
}
.chat-body .message {
   display: flex;
   gap: 11px;
   align-items: center;
}

.avatar {
     height: 45px;
    width: 45px;
    padding: 6px;
    flex-shrink: 0;
    background: #fff;
    border-radius: 50px; 
    display: flex;
}
.chat-body .message .message-text {
    paddinig: 12px 16px;
    max-width: 75%;
    font-size: 0.95rem;
    background: #F2F2FF;
}
.chat-body .bot-message .message-text {
    background: #F2F2FF;
    border-radius: 13px 13px 13px 13px;
}
.chat-body .user-message .message-text {
    color: #fff;
    background: #5350c4;
    border-radius: 13px 13px 13px 13px;
}
.chat-body .user-message {
    flex-direction: column;
    align-items: flex-end;
}
.chat-footer {
    position: absolute;
}


